<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.fzj.cosy.application"
            description="CS-Studio for FZJ-COSY"
            name="css">
         <property
               name="appName"
               value="css">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Control System Studio is an Eclipse-based collection of tools to monitor and operate large scale control systems, such as the ones in the accelerator community. It&apos;s a product of the collaboration between different laboratories and universities.&#x0A;&#x0A;The FZJ-COSY distribution is based on the 4.3.x version of the community CS-Studio.">
         </property>
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png,icons/css256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="150,265,320,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,285,480,15">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="org.csstudio.fzj.cosy.application"
         name="css">
      <application>
         <run
               class="org.csstudio.fzj.cosy.css.product.FZJCOSYApplication">
         </run>
      </application>
   </extension>

   <extension point="org.csstudio.startup.module">
      <startupParameters class="org.csstudio.utility.product.StartupParameters"/>
      <workspace class="org.csstudio.utility.product.WorkspacePrompt"/>
      <workbench class="org.csstudio.fzj.cosy.css.product.FZJCOSYWorkbench"/>
      <project class="org.csstudio.startup.module.defaults.DefaultProject"/>
   </extension>

   
  
    <extension
          point="org.eclipse.ui.ide.resourceFilters">
       <filter
             pattern="*.svn"
             selected="true">
       </filter>
       <filter
             pattern="*.git"
             selected="true">
       </filter>
       <filter
             pattern=".project"
             selected="true">
       </filter>
    </extension>
   
   <extension point="org.eclipse.ui.activities">  
      <activity id="org.csstudio.fzj.cosy.activity" name="HideUnwantedViewActivity">
         <enabledWhen>  
            <with variable="activePartId">
               <equals
                     value="unknownPart">
               </equals>    
                       
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.BookmarkView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.TaskList">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ProblemView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.AllMarkersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern=" org.eclipse.search/org.eclipse.search.SearchResultView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.csstudio.fzj.cosy.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.navigator.ProjectExplorer">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.csstudio.iter.xmleditor.content.opi"
            file-extensions="opi">
      </file-association>
   </extension>
</plugin>
